/*---------------
 common style
---------------- */
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* styles of the top banner  */
.banner{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(45, 37, 160);
    padding: 50px 0px;
}
.banner:hover .banner-img{
    animation: kicker 1.5s infinite;
    animation-direction: alternate;
    
}

@keyframes kicker {
    0% {
      transform: translate(0, 0);    
    }
    100% {
      transform: translate(20px, 50px);
    }
  }


.button:hover {
    border: 1px solid goldenrod;
}
.banner-detail{
    display: flex;
    flex-direction: column;
    width: 35%;
}
.banner-detail h1{
    height: 230px;
    font-weight: 700;
    font-size: 50px;
    color: seashell;
    
}
.banner-detail .button{
    width: 168px;
    height: 44px;
    background: #E02C6D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner-detail a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}
.banner-img img{
    width: 556.01px;
    height: 438px;
}

/* players styles start here */

.players-section{
    display: flex;
    justify-content: center;
}
.players{
    margin-top: 67px;
    width: calc(100% - 360px);
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: seashell;
    box-shadow: 0px 0px 40px 0px grey;
    border: 10px solid seashell;
    border-radius: 5px;
}
.players img{
    width: 100%;
}

/* ------------------------
extra's styles 
----------------------- */




/* major leagues styles */
.major-leagues{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.major-leagues-title{
    color: rgb(45, 37, 160);
    margin-bottom: 30px;
}
.leagues{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-column-gap: 20px;
    box-shadow: 0px 0px 40px 0px grey;
    border-radius: 10px;
}
.league{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.league p{
    text-align: center;
}


.comment{
    display: flex;
    justify-content: center;
}
.form-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 40px 0px grey;
}
.form-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* feedbackform style */
.comment{
    margin: 100px 0;
}
.comment-title{
    padding-top:50px ;
    color: rgb(45, 37, 160);
}
.text{
    width: 54%;
    margin-top: 30px;
    border: 1px solid rgb(45, 37, 160);
}
.input-area{
    padding: 10px 40px;
    margin-top:20px;
    border: 1px solid rgb(45, 37, 160);
}
.submit{
    margin:20px 0;
    padding: 12px 45px;
    border: none;
    background-color: rgb(45, 37, 160);
    color: seashell;
    
}

/* extra style ends  */


/*-----------------
   footer styles
---------------- */
footer{
    padding-top:30px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo{
    display: flex;
    justify-content: center;
}
.footer-logo img{
    width: 50%;
}
.icons .icon{
    padding: 10px;
    color: gray;
    background-color:lightgrey;
    border-radius: 50%;
}
.copyright{
    padding-top: 10px;
}




/*------------------------------------------ 
media query starts here 
---------------------------------------------- */


@media only screen and (max-width:1161px){
    .banner-detail h1{
    font-size:45px;
    }
}
@media only screen and (max-width:993px) {
    .banner-detail{
        align-items: center;
        justify-content: center;
    }
    .banner-detail h1{
    text-align: center;
    }

}
@media  only screen and (max-width: 801px) {
    .banner-detail h1{
    font-size:40px;
    }
}
@media  only screen and (max-width: 712px) {
    .banner-detail h1{
    font-size:34px;
    }
}
@media only screen and (max-width: 688px){
    .banner{
    flex-direction: column;
    }
    .banner-detail{
    margin-bottom: 30px;
}
.banner-img img{
    width: 100%;
}
.players, .leagues, .tournaments{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}

}
@media only screen and (min-width: 688px) and (max-width: 992px){
    .banner{
    flex-direction: column;
    }
    .banner-detail{
    margin-bottom: 30px;
}

.players, .leagues, .tournaments{
    grid-template-columns: repeat(2, 2fr);
    width: 100%;
}

}

